body {
	background: white;
}

ul {
	list-style: none;
	display: block;
	padding: 0;
	max-width: 980px;
	text-align: center;
	margin: 0 auto;
}

ul li img {
	display: block;
}

ul li {
	display: inline-block;
	padding-bottom: 60px;
}

.search-nav {
text-align: center;
background-color: white;
padding: 30px 0;
}

#search {
	font-size: 16px;
}

input {
	width: 436px;
	padding: 10px 10px;
	border-radius: 10px;
	border: 2px solid lightgrey;
	outline: none;
}

#imageGallery {
	display: flex;
/*	flex-direction: row;*/
	flex-wrap: wrap;
	justify-content: space-between;

}

li {
	flex-basis: 200px;
}

#overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

#overlay img {
	width: 60%;
	max-width: 800px;
	max-height: 100%;
	margin-top: 150px;
}

#overlay p {
	color: white;
}
